name: build

on:
  push:
    branches: 
      - main
  pull_request:
    branches:
      - '*'

jobs:
  ci-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16'
      - name: Build
        run: go run ./build all -v -ci
      - name: Upload HTML coverage
        uses: actions/upload-artifact@v2
        with:
          name: coverage
          path: coverage.*t
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.out
  compatibility:
    strategy:
      fail-fast: false
      matrix:
        go-version: ['1.11', '1.12', '1.13', '1.14', '1.15', '1.16']
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - run: go test -race ./...
